*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  transition: all .3s ease-out;
}

body{
  min-height: 100vh;
  background: #000;
}

